NODE_ENV=development
PORT=3000
VITE_PUBLIC_URL=http://localhost:3000
VITE_API_URL=http://localhost:3000/api
EMAIL_FROM=your-gmail@gmail.com
EMAIL_PASSWORD=your-16-char-app-password
EMAIL_NOTIFY=stu_parker@ogthealchemist.com
